body {
   background-image: url("rk.jpg");
   background-repeat: no-repeat;
   background-position: top right;
  }
  
  h1 {
    color: rgb(233, 4, 4);
    margin-top: 20px; text-align: center;
  }
div {
    color: rgb(128, 0, 106);

}
.style1 {
    color: rgba(79, 59, 87, 0.726);
}
.style2 {
    color: rgb(21, 173, 80);
}
.style3 {
    color: rgba(252, 105, 7, 0.938);
}
.style4 {
    color: rgb(252, 5, 79);
}